<header class="header">
    <nav class="navbar">
        <ul [ngClass]="{'active' : openedMobileMenu === true}" class="nav-menu">
            <li class="nav-item">
                <a routerLink="" class="nav-link">POKEDEX</a>
            </li>
            <li class="nav-item">
                <a routerLink="/create" class="nav-link">CREER UN POKEMON</a>
            </li>
        </ul>
        <div [ngClass]="{'active' : openedMobileMenu === true}" (click)="mobileMenu()" class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
